.DS_Store
.idea/
.venv*/
__pycache__/
*.pyc
*.pyo
*.pyd

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/local.auto.tfvars

# Lambda build artifacts
src/lambda/*.zip

# Local Spark outputs
data/processed/
*.crc
_SUCCESS
